.questionTerm {
    width:70%;
    margin:15px;
}

.small-icon {
    width:20px;
    margin:10px;
    padding:10px;
}

.reviews-header {
    margin:0;
    padding:0;
}

.hide-tag-ids {
    visibility: hidden;
    margin:0;
    padding:0;
}